// TODO specify file extension of your language server in format:  source.<extension>
'scopeName': 'source.mydsl'
// TODO specify name of your language server
'name': 'MyDsl'
// TODO specify file extension of your language server
'fileTypes': [
  'mydsl'
]
injections:
  'L:*':
    patterns: [
        {
          // TODO specify keywords of your language, instead of trans|state
            match: '\\b(trans|state)\\b'
            // TODO specify file extension of your language server in format:  keyword.control.<extension>
            name: 'keyword.control.mydsl'
        }
    ]
