// TODO specify file extension of your language server in format:  source.<extension>
'scopeName': 'source.ml'
// TODO specify name of your language server
'name': 'MealyMachine'
// TODO specify file extension of your language server
'fileTypes': [
  'ml'
]
injections:
  'L:*':
    patterns: [
        {
          // TODO specify keywords of your language, instead of trans|state
            match: '\\b(begin|end|produces|to|trans|define input set|define output set|define state set|when)\\b|!'
            // TODO specify file extension of your language server in format:  keyword.control.<extension>
            name: 'keyword.control.ml'
        }
    ]
